/* Bootstrap overrides
-------------------------------------------------- */

$body: #18191a;
$headings-font-weight: 300 !important;
$primary: #ffc629;
$light: #fafafa;
$card-border-radius: 0.75rem;
$card-inner-border-radius: subtract($card-border-radius, 1px);

$headings-font-weight: 300 !important;
$a: #1392ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/reboot';

/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

body {
  background-color: $body;
}

.wrapper {
  min-height: 100vh;
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin: 0;
    padding-top: 48px;
    padding-bottom: 24px;
    font-size: 0.9rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;
    
    a {
      color: #9ba5b4;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: $primary;
        }
      }
    }

    .app-version {
      color: #9ba5b4;
      opacity: 60%;
      margin-top: 10px;
      display: block;
    }
  }
}
